<div class="container">
  <h1>Form</h1>
  <form class="form-row" (ngSubmit)="onSubmit()" [formGroup]="formGroup">
    <div class="form-group col-sm-6">
      <label for="firstName">Ad</label>
      <input
        type="text"
        class="form-control"
        name="firstName"
        formControlName="firstName"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          control: formGroup.controls['firstName']
        }"
      ></ng-container>
    </div>

    <div class="form-group col-sm-6">
      <label for="lastName">Soyad</label>
      <input
        type="text"
        class="form-control"
        name="lastName"
        formControlName="lastName"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          control: formGroup.controls['lastName']
        }"
      ></ng-container>
    </div>

    <div class="form-group col-sm-6">
      <label for="password">Şifre</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        name="password"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          control: formGroup.controls['password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'password',
          control: formGroup.controls['password']
        }"
      ></ng-container>
    </div>

    <div class="form-group col-sm-6">
      <label for="password">Tekrar Şifre</label>
      <input
        type="password"
        class="form-control"
        formControlName="confirmPassword"
        name="confirmPassword"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'compare',
          control: formGroup.controls['confirmPassword']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          control: formGroup.controls['confirmPassword']
        }"
      ></ng-container>
    </div>

    <div class="form-group col-sm-6">
      <label for="dob">Doğum tarihi</label>
      <input
        type="date"
        class="form-control"
        name="dob"
        formControlName="dob"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minDate',
          control: formGroup.controls['dob']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxDate',
          control: formGroup.controls['dob']
        }"
      ></ng-container>
    </div>

    <div class="form-group col-sm-6" formGroupName="address">
      <label for="countryId">countryId</label>
      <input
        type="number"
        class="form-control"
        name="countryId"
        formControlName="countryId"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          control: addressFormGroup.controls['countryId']
        }"
      ></ng-container>
    </div>

    <div class="form-group col-sm-6" formGroupName="address">
      <label for="countryId">cityId</label>
      <input
        type="number"
        class="form-control"
        name="cityId"
        formControlName="cityId"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          control: addressFormGroup.controls['cityId']
        }"
      ></ng-container>
    </div>

    <div class="form-group col-12">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          formControlName="isAcceptedKvkk"
          id="kvkk"
        />
        <label class="form-check-label" for="kvkk">Sözleşme izni</label>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'requiredTrue',
            control: formGroup.controls['isAcceptedKvkk']
          }"
        ></ng-container>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="formGroup.invalid || formGroup.submitted"
    >
      Kaydet
    </button>
  </form>

  <hr />
  <h2>Form value</h2>
  <ngx-json-viewer [json]="formGroup.value"></ngx-json-viewer>
</div>

<ng-template #formError let-control="control" let-validation="validation">
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <small class="text-danger">
      {{ control.errors[validation].message }}
    </small>
  </ng-container>
</ng-template>


<button (click)="test()">test</button>